@{
    ViewData["Title"] = "Home Page";
}





<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="">
    <h4>個人 ID: <span id="SelfID"></span></h4>
    <div class="mb-3">
        <label for="message" class="form-label">發送訊息</label>
        <input type="text" class="form-control" id="message">
    </div>
    <div class="mb-3">
        <label for="sendToID" class="form-label">指定 ID</label>
        <input type="text" class="form-control" id="sendToID">
    </div>
    <button type="button" class="btn btn-primary" id="sendButton">傳送訊息</button>
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}


<!--<script>const connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build()

    connection.on("ReceiveMessage", function (user, message) {
        alert(`Hi ${user}, you said: ${message}`)
    })

    connection.on("UpdList", function (jsonList) {
        const list = JSON.parse(jsonList);
        sessionStorage.removeItem('connectList')
        sessionStorage.setItem('connectList', jsonList)-->
@*for (let i = 0; i < list.length; i++) {
        console.log(list[i])
    }*@
<!--})

connection.on("UpdSelfID", function (id) {
    console.log(`Login: ${id}`)
    document.getElementById('SelfID').innerText = id
})

connection.on("UpdContent", function (msg) {
    console.log(msg)
})




document.getElementById('sendButton').addEventListener('click', () => {
    const selfID = document.getElementById('SelfID').innerText;
    const message = document.getElementById('message').value;
    const sendToID = document.getElementById('sendToID').value;
    connection.invoke("Message", selfID, message, sendToID).catch(function (err) {
        console.log("錯誤" + err.toString())
    })
})






</script>-->
