<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - signalR_test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/signalR_test.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">signalR_test</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="chat-circle" class="btn btn-raised btn-toggle scaleBox">
        <div id="chat-overlay">
        </div>
        <i class="fa-solid fa-comment-dots"></i>
    </div>

        <div class="card mx-auto card-toggle position-absolute top-25 end-50" id="chat-card" style="max-width: 400px;">
            <div class="card-header bg-transparent">
                <div class="navbar navbar-expand p-0">
                    <ul class="navbar-nav me-auto align-items-center">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <div class="position-relative"
                                     style="width: 50px;height: 50px;border-radius: 50%; border: 2px solid #e84118; padding: 2px;">
                                    <img src="./logoHouse.jpeg" alt="Logo" class="img-fluid rounded-circle">
                                    <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                        <span class="visually-hidden">New alerts</span>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">house會員服務台</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="chat-exit-btn">
                                <i class="fas fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body p-4" style="height: 500px; overflow: auto;">
                <!-- 左對話區塊 -->
                <div class="d-flex align-items-baseline mb-4">
                    <!-- avatar -->
                    <div class="position-relative avatar">
                        <img src="./logoHouse.jpeg" alt="Logo" class="img-fluid rounded-circle">
                        <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </div>
                    <!-- 對話框 -->
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block p-2 m-1">你好，請問有什麼需要幫助的嗎？</div>
                            <div class="small">01:13PM</div>
                        </div>
                    </div>
                </div>
                <!-- ＃左對話區塊 -->
                <!-- 右對話區塊 -->
                <div class="d-flex align-items-baseline text-end justify-content-end mb-4">
                    <!-- 對話框 -->
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block p-2 px-3 m-1">想詢問如何進行退票？</div>
                        </div>
                        <div>
                            <div class="card card-text d-inline-block p-2 px-3 m-1">謝謝</div>
                        </div>
                    </div>

                    <!-- avatar -->
                    <div class="position-relative avatar">
                        <img src="./logoHouse.jpeg" alt="Logo" class="img-fluid rounded-circle">
                        <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </div>
                </div>
                <!-- ＃右對話區塊 -->
                <!-- 左對話區塊 -->
                <div class="d-flex align-items-baseline mb-4">
                    <!-- avatar -->
                    <div class="position-relative avatar">
                        <img src="./logoHouse.jpeg" alt="Logo" class="img-fluid rounded-circle">
                        <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </div>
                    <!-- 對話框 -->
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block p-2 m-1">查詢中..</div>
                        </div>
                        <div>
                            <div class="card card-text d-inline-block p-2 m-1">請提供您的票券號碼</div>
                        </div>
                        <div>
                            <div class="card card-text d-inline-block p-2 m-1">請提供您的票券號碼</div>
                        </div>
                        <div>
                            <div class="card card-text d-inline-block p-2 m-1">請提供您的票券號碼</div>
                        </div>
                    </div>
                </div>
                <!-- ＃左對話區塊 -->
                <!-- 右對話區塊 -->
                <div class="d-flex align-items-baseline text-end justify-content-end mb-4">
                    <!-- 對話框 -->
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block p-2 px-3 m-1">123456789</div>
                        </div>
                        <div>
                            <div class="card card-text d-inline-block p-2 px-3 m-1">謝謝</div>
                        </div>
                    </div>

                    <!-- avatar -->
                    <div class="position-relative avatar">
                        <img src="./logoHouse.jpeg" alt="Logo" class="img-fluid rounded-circle">
                        <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </div>
                </div>
                <!-- ＃右對話區塊 -->
            </div>
            <div class="card-footer bg-white position-absolute bottom-0 m-0 p-1 w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-0" id="input-msg" placeholder="Write a message...">
                    @*<div class="input-group-text bg-transparent border-0">
                        <button class="btn btn-light text-secondary">
                            <i class="fas fa-smile"></i>
                        </button>
                    </div>*@
                    <button class="btn btn-light text-secondary btn-send" id="send-msg">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </div>

        </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - signalR_test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

